# ==========================================
# KONFIGURASI DATABASE POSTGRESQL
# ==========================================
DB_HOST=localhost
DB_USER=username_postgres_kalian
DB_PASS=password_postgres_kalian
DB_NAME=otter_db
DB_PORT=5432

# ==========================================
# KONFIGURASI MQTT BROKER
# ==========================================
MQTT_BROKER=tcp://127.0.0.1:1883
MQTT_USER=username_mqtt_kalian
MQTT_PASS=password_mqtt_kalian
MQTT_CLIENT_ID=Golang_Otak_Tengah

# ==========================================
# KONFIGURASI API SERVER
# ==========================================
PORT=3000